<div class="row content padded-row-30">
    <div class="container">
        <h2 class="text-center">Projects with 96Boards</h2>
    </div>
</div>
<div class="row content">
    <div id="projects-row">
        <div class="container">
        {% assign projects = site.projects | where: "project", "true" | sample: 8 %}
        {% capture order %}1{% endcapture %}
        {% for project in projects %}
            {% assign project-uri = project.permalink | split: "/" %}
            {% assign project-uri = project-uri[2] | downcase  %}
            <a href="{{project.url}}">
                <div class="home-page-project-image img-responsive center-block col-xs-6 col-sm-3 lazyloaded">
                    {% if project.images %}
                        {% assign imagePath = project.images[0] | replace: '/assets/images/', '' %}
                        {% picture thumb {{imagePath}} alt=project.title %}
                    {% else %}
                        {% assign imagePath = site.data.settings.placeholder | replace: '/assets/images/', '' %}
                        {% picture thumb {{imagePath}} alt=project.title %}
                    {% endif %}
                    <div class="overlay"></div>
                    <div class="project-title">
                        {{project.title}}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
</div>
<div class="row content">
    <div class="col-xs-12 text-center">
        <a id="explore-projects" class="btn explore-btn" href="/projects/">All Projects</a>
    </div>
</div>